#section{
    font-family: $montserrat-regular;
    color: $white;
    background-color: $primary-color;

    .logo{
        width: 200px;
    }

    .header-menu-itens{
        font-family: $montserrat-semi-bold;
        font-size: 20px;
        color: $white;
    }
}